* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Century Gothic";
    src: url(../fonts/Gothic/GOTHIC.TTF);
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

/* Header */
.header {
    margin-top: 30px;
}
.container {
    width: 100%;
    max-width: 1440px;
    position: relative;
    padding: 0 90px;
    margin: 0 auto;
    font-family: "Montserrat";
    color: #4E5156;
}
.header_inner {
    height: 119px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.header_burger {
    display: none;
}
.search {
    width: 150px;
    height: 30px;
    border: 1px solid #6E6D72;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.search_field {
    border: none;
    outline: none;
    width: 110px;
    margin-left: 13px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.h1_header {
    letter-spacing: 2px;
    font-family: "Century Gothic";
    font-weight: 400;
    font-size: 35px;
}
.search_link {
    margin-right: 15px;
}
.search_link,
.account_nav_link,
.nav_link {
    text-decoration: none;
    color: #4E5156;
}
.account_nav_link {
    margin-left: 30px;
}
.account_nav_link:first-child {
    margin-left: 0;
}
.account_nav_icon {
    transition: .3s;
}
.account_nav_link:hover .account_nav_icon{
    fill: #D7BAB8;
}
.nav {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(110, 109, 114, 0.15);
    padding-top: 10px;
    margin-top: 20px;
    text-transform: uppercase; 
}
.nav_link {
    font-size: 12px;
    font-weight: 400;
}
.nav_link:hover {
    text-decoration: underline;
    color: #4E5156;
}

@media (max-width:700px) {
    body.lock {
        overflow: hidden;
    }
    .container {
        padding: 0;
    }
    .header {
        margin-top: 10px;
    }
    .header_inner {
        padding: 0 10px;
    }
    .header_burger {
        display: block;
        position: relative;
        cursor: pointer;
        width: 22px;
        height: 14px;
        order: 1;
        z-index: 4;
        transition: .5s;
    }
    .header_burger span {
        background-color: #4E5156;
        position: absolute;
        width: 100%;
        left: 0;
        height: 2px;
        top: 6px;
        transition: .3s;
    }
    .header_burger::before,
    .header_burger::after {
        content: "";
        background-color: #4E5156;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: .3s;
    }
    .header_burger::before {
        top: 0;
    }
    .header_burger::after {
        bottom: 0;
    }
    .search {
        flex: 0 0 100%;
        width: 100%;
        order: 4;
    }
    .h1_header {
        font-family: "Century Gothic";
        font-weight: 400;
        font-size: 20px;
        order: 2;
        z-index: 4;
    }
    .account_nav {
        order: 3;
        z-index: 4;
    }
    .account_nav_link {
        margin-left: 0;
    }
    .account_nav_link:last-child {
        margin-left: 15px;
    }
    .account_nav_link:first-child {
        display: none;
    }
    .nav {
        display: block;
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        order: 5;
        border: none;
        margin: 0;
        padding: 100px 0 0 30px;
        z-index: 3;
        background: #F7F8F8;
        transition: .5s;
    }
    .nav.actived {
        left: 0;
    }
    .nav_link {
        display: block;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .header_burger.actived::before {
        transform: rotate(45deg);
        top: 6px;
    }
    .header_burger.actived::after {
        transform: rotate(-45deg);
        bottom: 6px;
    }
    .header_burger.actived span {
        transform: scale(0);
    }
}