/* Payment */
.payment {
    margin-top: 30px;
}
.payment_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.payment_inner_head {
    flex: 1 0 100%;
    font-size: 30px;
    font-weight: 400;
    color: #4E5156;
}
.payment_method {
    width: 615px;
    margin-top: 30px;
}
.payment_method_text {
    font-size: 14px;
    font-weight: 400;
    color: #6E6D72;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(110, 109, 114, 0.15);
}
.payment_method_card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
}
.payment_method_card_box {
    display: flex;
    align-items: center;
}
.payment_method_card_box:hover {
    cursor: pointer;
}
.payment_method_radio {
    margin-right: 10px;
}
.payment_method_cardimg {
    display: flex;
    align-items: center;
    width: 50px;
    height: 35px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
}
.payment_method_img {
    margin: 0 auto;
}
.payment_method_input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}
.payment_method_input_text {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: #6E6D72;
    margin: 15px 0 10px;
}
.payment_method_input_star {
    color: red;
}
.input_card_number {
    width: 400px;
    height: 31px;
    display: block;
    border: 1px solid rgba(110, 109, 114, 0.5);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-indent: 10px;
}
.input_card_number.valid,
.input_date.valid,
.input_address.valid,
.input_city.valid {
    border: 1px solid lightgreen;
}
.input_card_number.invalid,
.input_date.invalid,
.input_address.invalid,
.input_city.invalid {
    border: 1px solid red;
}
.input_card_number:focus {
    outline: 0;
}
.input_date {
    width: 185px;
    height: 31px;
    display: block;
    border: 1px solid rgba(110, 109, 114, 0.5);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-indent: 10px;
}
.input_date:focus {
    outline: 0;
}
.payment_address_text {
    font-size: 14px;
    font-weight: 400;
    color: #6E6D72;
    margin-top: 30px;
}
.payment_address_input_text {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: #6E6D72;
    margin-bottom: 10px;
}
.input_address {
    width: 293px;
    height: 31px;
    display: block;
    border: 1px solid rgba(110, 109, 114, 0.5);
    margin-bottom: 15px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-indent: 10px;
}
.input_address:focus {
    outline: 0;
}
.input_city {
    width: 185px;
    height: 31px;
    display: block;
    border: 1px solid rgba(110, 109, 114, 0.5);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-indent: 10px;
}
.input_city:focus {
    outline: 0;
}

/* Media */ 
@media (max-width:700px) {
    .payment {
        padding: 0 20px;
        margin-top: 15px;
    }
    .payment_flex {
        flex-wrap: wrap;
    }
    .payment_inner_head {
        font-size: 20px;
    }
    .payment_method {
        flex: 0 0 100%;
        width: 100%;
    }
    .payment_method_card {
        display: grid;
        grid-template-areas: 
        "a b c"
        "d e f";
    }
    .a {
        grid-area: a;
    }
    .b {
        grid-area: b;
    }
    .c {
        grid-area: c;
    }
    .d {
        grid-area: d;
    }
    .e {
        grid-area: e;
    }
    .f {
        grid-area: f;
    }
    .payment_method_text {
        display: none;
    }
    .payment_method_card {
        margin: 0;
    }
    .payment_method_card_box {
        min-width: 100px;
        margin-bottom: 15px;
    }
    .payment_method_input {
        margin: 0;
    }
    .input_card_number {
        max-width: 205px;
    }
    .input_date {
        max-width: 125px;
    }
    .payment_address_text {
        margin-bottom: 20px;
    }
    .input_address {
        max-width: 165px;
    }
    .input_city {
        max-width: 93px;
    }
}